<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>bahmni-ipd</id>
	<name>Bahmni IPD</name>
	<version>1.0.0-SNAPSHOT</version>
	<package>${MODULE_PACKAGE}</package>
	<author>Bahmni</author>
	<description>Provides APIs for IPD features</description>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.bahmni.module.bahmnicore</require_module>
		<require_module>org.openmrs.module.bedmanagement</require_module>
		<require_module>org.bahmni.module.medication-administration</require_module>
		<require_module>org.bahmni.module.fhir2Extension</require_module>
	</require_modules>
	<activator>org.openmrs.module.ipd.api.IPDActivator</activator>
</module>

